In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
import klib

In [3]:
df=pd.read_csv('Eda.csv')

In [4]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,1,1,112542.58,0
2,502,0,0,42,8,159660.80,3,0,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
x=df.copy()
x.drop(columns=['Exited'],axis=1,inplace=True)
y=df['Exited']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [18]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import confusion_matrix
model = XGBClassifier(
    n_estimators=100, 
    objective='binary:logistic',  # Objective for binary classification
    gamma=0.1,                     # Minimum loss reduction required to make a further partition on a leaf node of the tree
    reg_lambda=1,                  # L2 regularization term on weights
    learning_rate=0.1              # Boosting learning rate (eta)
)
# fit model
model.fit(X_train, y_train)
# make predictions
y_pred = model.predict(X_test)
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix of XGboost:")
print(conf_matrix)

# Classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.858739837398374
Confusion Matrix of XGboost:
[[1495   64]
 [ 214  195]]

Classification Report:
              precision    recall  f1-score   support

           0       0.87      0.96      0.91      1559
           1       0.75      0.48      0.58       409

    accuracy                           0.86      1968
   macro avg       0.81      0.72      0.75      1968
weighted avg       0.85      0.86      0.85      1968